---
import BackButton from '@/components/BackButton'
import InterestedButton from '@/components/InterestedButton.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const items = await getCollection('items')

  return Object.values(items).map((item) => ({
    params: { id: item.id },
    props: { item },
  }))
}

const { item } = Astro.props
---

<BaseLayout
  title={`${item.data.name} - Moving Sale`}
  description={`${item.data.description} - Moving Sale`}
>
  <div
    class="flex flex-col items-center px-6 py-8 sm:px-8 sm:py-12 lg:px-16 lg:py-20 gap-2"
  >
    <div class="flex flex-col items-center">
      <h1
        class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-red-400 mb-4"
      >
        {item.data.name}
      </h1>
      <p
        class="text-lg sm:text-xl lg:text-2xl text-gray-600 max-w-3xl text-center mb-8"
      >
        {item.data.description}
      </p>

      <p
        class="text-lg sm:text-xl lg:text-2xl font-bold text-gray-600 max-w-3xl text-center mb-8"
      >
        ${(item.data.price / 1000).toFixed(3)}
      </p>

      <div>
        <InterestedButton item={item} />
      </div>
    </div>
    
    {item.data.image ? (
      <Image
        style={{
          viewTransitionName: `image-transition-${item.id}`,
        }}
        src={item.data.image}
        alt={`Image ${item.data.name}`}
        width={480}
        height={270}
        class="object-contain rounded-xl"
        aria-placeholder={`Image ${item.data.name}`}
      />
    ) : (
      <div class="w-full max-w-[480px] h-[270px] rounded-xl bg-gray-100 flex items-center justify-center">
        <span class="text-gray-500">No image available</span>
      </div>
    )}
    
    <BackButton client:load />
  </div>
</BaseLayout>